@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section .text-gray-600 body-font{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background-color: black;

}
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto-Condensed',sans-serif;
    background-color: var(--text-dark);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
